.mainContainer {
    display: flex,;
    flex-direction: column,;
    margin-bottom: 1rem;
}

.textContainer {
    border: 2px solid;
    border-radius: 25px;
    padding: 1rem;
}

.textItem {
    resize: none;
    background: transparent;
    outline: none;
    width: 100%;
    border: none;
}

.flexContainer {
    display: flex;
    place-content: flex-end;
    position: relative;
    margin: 1rem;
}