.mainContainer {
    display: flex,;
    flex-direction: column,;
    margin-bottom: 2rem;
}

.flexContainer {
    display: flex;
    place-content: flex-end;
    position: relative;
    margin: 1rem;
}