/* Add Post Modal - START */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 85%;
    max-width: 90%;
}

.modal .hidden {
    display: none;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    place-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn:hover {
    color: hsl(0, 0%, 10%);
    background-color: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: light){
    .modal {
        background-color: hsla(0, 0%, 0%, 0.97);
    }
}
/* Add Post - END */