.comment {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.commentBody {
    margin-bottom: 8px;
    width: 100%;
}

.commentBody div {
    width: 100%;
    white-space: pre-wrap;
}

.commentMeta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.8rem;
    width: 50%;
    gap: 1rem;
}

.clickableContainer {
    padding-top: 1.5rem;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.clickable {
    opacity: 0.5;
    transform: scale(0.75);
    transition: all 200ms ease;
}

.clickable:hover {
    transform: scale(0.9);
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    .comment {
        box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.113);
    }
}