.mainContainer {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: relative;
    top: 35vh;
}

.svgContainer {
    transform: scale(3) rotate(-12deg);
    margin-top: 4rem;
}

.svgContainer:hover :nth-child(2) {
    transform-origin: center;
    animation: shake 0.82s ease;
}

@keyframes shake {

    10%,
    90% {
        transform: rotate(-1deg);
    }

    20%,
    80% {
        transform: rotate(2deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(-5deg);
    }

    40%,
    60% {
        transform: rotate(5deg);
    }
}