.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    padding: 2.5rem;
    display: grid;
    gap: 1rem;
    flex-direction: column;
    max-width: 900px;
}

.message h1 {
    margin-bottom: 2rem;
}

.btnContainer {
    display: 'flex';
    gap: 1rem;
}