/* Dialog Modal (posts) - START */
.overlay {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    place-items: center;
    z-index: 99;
}

.dialog {
    width: clamp(450px, 80%, 1000px);
    border-radius: 20px;
    margin-bottom: 5rem;
    padding: 1rem;
}

.body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
    border-radius: 20px;
    box-shadow: 0 0 0 100vh hsla(0, 0%, 0%, 0.87);
    padding: 2rem 0;
    background-color: hsl(0, 100%, 99%);
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: rgb(166, 60, 60);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.cancel {
    background-color: #ccc;
    margin-right: 10px;
}


.button:hover {
    opacity: 0.8;
}

.close,
.menu {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 2rem;
    right: 1rem;
    z-index: 98;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.close {
    top: -3rem;
    right: 3rem;
    z-index: 99;
}

.close:hover,
.menu:hover {
    transform: scale(0.9);
    right: 1.1rem;
    opacity: 0.75;
}

.close:hover{
    right: 3.1rem;
}

@media (prefers-color-scheme: dark) {
    .body {
        color: hsl(0, 0%, 100%);
        background-color: hsl(0, 0%, 5%);
        padding: 2rem 0.5rem;
    }
}

@media (max-width: 640px) {
    .close {
        right: 1.5rem
    }

    .close:hover {
        right: 1.7rem;
    }
}
/* Dialog Modal (posts) - END */