.postCard {
    padding: 1rem;
    border: 1px solid;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 5px;
    transition: all 200ms ease;
    width: 15rem;
    height: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postCard h1 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.postCard p {
    margin-bottom: 0;
}

.postCard i {
    font-size: 0.8rem;
    color: #6c757d;
}

.postCard:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px;
}

.reg {
    padding: 2rem;
    margin-bottom: 1.5rem;
    cursor: grab;
}

@media (max-width: 640px) {
    .postCard {
        width: 10rem;
        height: 15rem;
    }

    .postCard h1 {
        font-size: 1.2rem;
    }

    .postCard p {
        display: none;
    }

    .postCard i {
        font-size: 0.8rem;
    }
}